clickbait.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="homepage">
		<xs:complexType>
				<xs:sequence>
					<xs:element name="clickbait">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="thumbnail" type="xs:string" minOccurs="0" maxOccurs="1"/>
								<xs:element name="link" type="xs:string" minOccurs="0" maxOccurs="1"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
