taxi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xs:element name="taxi">
		<xs:complexType> <xs:sequence>
			<xs:element name="driver" maxOccurs="2">
        <xs:complexType><xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="number">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						  <xs:length value="7"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
          	</xs:sequence></xs:complexType>
			</xs:element>
		</xs:sequence></xs:complexType>
	</xs:element>
	
</xs:schema>